<article>
    <h1><a href="{{ Post.URL }}">{{ Post.FrontMatter.Title }}</a></h1>
    <div>
        <p>{{ Post.FrontMatter.Date }}</p>
        <p>{{ Post.FrontMatter.Author }}</p>
    </div>
    <div>
        {{ Post.Content ~}}
    </div>
    <div>
        <p>{{ for Tag in Post.FrontMatter.Tags }} #{{ Tag ~}} {{ end }}</p>
    </div>
</article>