<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <header>
            <h1>Roger's Blog</h1>
            <nav>
                <a href="/">Home</a> | 
                <a href="/about">About</a> |
                <a href="/archive">Archive</a>
            </nav>
        </header>
        {{ include "main" }}
        <footer>
            &copy; Roger Willis 2024
        </footer>
    </body>
</html>